@import "/lib/Components/core.css";
@import "/lib/Components/prismstyle.css";
@import "/lib/Components/utilities.css";
@import "/lib/Components/Alerts/alerts.css";
@import "/lib/Components/Avatar/avatar.css";
@import "/lib/Components/Badges/badges.css";
@import "/lib/Components/Button/button.css";

html{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body{
    min-height:100vh;
    font-size:1.6rem;
    font-weight: 500;
    color:var(--COLOR-FONT);
    background: var(--COLOR-BG);    
    display:grid;
    grid-template-areas: 
    "header "
    "main "
    "footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 1fr 7rem;
    margin:auto;
    max-width: 120rem;
}

/* HEADER STARTS */

.sm-header{

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-area: header;
    padding: 0 4rem;
    border-bottom: 2px solid var(--COLOR-PRIMARY);
    position: relative;
    width: 100%;
    top:0;
    background: var(--COLOR-BG);
}

.flex-center-wrap{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sm-header-logo > svg{
    width: 4rem;
}


.sm-header-logo > svg path,circle,polygon{
    fill:var(--COLOR-HEADER-FONT-DARK);
}


.sm-header-logo > h1{
     font-size: 4rem;
    font-weight: 800; 
    color:var(--COLOR-HEADER-FONT-DARK);
    cursor: pointer;
} 

.sm-header-nav{
    gap: 1rem;
}

.header-nav-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding:1rem 1.5rem;
    font-weight: 700;
    color:var(--COLOR-HEADER-FONT-DARK);
    transition: all ease-in 0.1s;
    text-decoration:none;
}

.header-nav-btn:hover{
    color: var(--COLOR-HEADER-FONT-DARK-HOVER);
}

.sm-header-social{
    gap:3rem;
}

.s-icon{
    text-decoration: none;
}

.btn-social{
    outline: none;
    border:none;
    background: none;
    color: var(--COLOR-HEADER-FONT-DARK);
    cursor: pointer;
    font-size:2.5rem;
    transition: color ease-in 0.2s
}

.btn-social:hover{
    color: var(--COLOR-HEADER-FONT-DARK-HOVER);
}


/* HEADER ENDS */


/* NAV STARTS */
.sm-nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 4rem;
    padding-top: 4rem;
    font-size: 2rem;
    position: relative;
}

.sm-nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.sm-nav-item{
    text-decoration: none;
    color:var(--COLOR-FONT); 
    padding: 0.7rem;
    transition: all ease-in 0.2s;
}

.sm-nav-item:hover{
    color:var(--COLOR-DARKEN-1);
    border-bottom: 1px solid var(--COLOR-DARKEN-1);
}

.sm-nav-item-selected{
    color:var(--COLOR-DARKEN-1);
    border-bottom: 1px solid var(--COLOR-DARKEN-1);
}

.sm-nav-title{
    padding-top: 2rem;
    font-weight: 800;
    cursor: default;
}

/* NAV ENDS */

/* MAIN STARTS */

.sm-main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.sm-main h1{
    font-size: 4rem;
}

/* MAIN ENDS */

.sm-footer{
    grid-area: footer;
    display: grid;
    place-content: center;
}


.header-hb-nav{
    display: none;
}

.btn-social-show{
    display: block;
}


.btn-social-hide{
    display: none;
}

.header-mobile-social,
.header-mobile-nav{
    display: none;
}

.sm-nav.sm-nav-show{
    display:flex;
}



.main-image{
    display:grid;
    place-content:center;
    width:60rem;
    height:40rem;
    /* border-radius:60% 40% 40% 20%; */
    background:none;
    transition: all ease-in 0.2s;
  }



.img-responsive{
    max-width:100%;
    height: auto;
}


.container-50{
    margin: 1.5rem;
    text-align: center;
    flex:1;
}

.sm-main-heading{
    font-size: 4.5rem;
    font-weight: 900;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:8rem;
}


.btn-link{
    position: relative;
    padding:1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 15rem;
    min-height: 4rem;
    font-size: 2rem;
    transition: all ease-in 0.1s;
}


/* MEDIA QUERIES */

@media only screen and (max-width:700px){
    :root{
        font-size:40%;
    }

    .sm-header-nav{
        display: none;
    }
}


@media only screen and (max-width:900px){
    :root{
        font-size:50%;
    }

    body{
        margin: 0 3rem;
    }

    .sm-main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin: 2rem;
    
    }
    .container-50{
        flex:0;
    }
}

